@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'style';
@import 'color';

.pagination {
    display: block !important;
}

.chosen-container .chosen-results li.optCategoryParent {
    font-weight: bolder !important;
}

.chosen-container .chosen-results li.optCategoryChild{
    padding: 9px 10px 9px 15px !important;
}

/*----------------------------------- */
/* Custom Radio
------------------------------------- */
.radios {
	list-style: none;
	padding: 0;
}

.radios.in-row label { margin-top: 9px;}
.radios.one-in-row label { margin-top: 9px; width: 100%; }

.radios li { padding: 4px 0; }
.radios li:last-child { margin-bottom: -8px; }

.radios label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 28px;
	margin-right: 20px;
	margin-bottom: 0;
	line-height: 24px;
	font-size: 16px;
}

.radios label span {
	color: #909090;
}

.radios input[type=radio] { display: none; }

.radios label:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	background-color: #fff;
	border: 2px solid #d0d0d0;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.25s;
	font-family: "FontAwesome";
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 15px;
}

.radios input[type=radio]:checked + label:before {
	content: "\f00c";
	background-color: #66676b;
	border: 2px solid #66676b;
}

.mask-loader {
    display:none;
    background:#fff; 
    width: 100%; 
    height: 100%; 
    position:absolute;
    z-index:1;
    opacity: 0.95
}

.mask-loader img {
    margin: 50px auto 0 auto;
    display:block
}

#map-container.fullwidth-home-map {
    height: 100% !important;
    position: absolute;
}

.mfp-iframe-holder .mfp-content {
    max-width: 100% !important;
}

.btn-facebook, .btn-instagram {
    width: 100%;
    text-align: center;
}

ul {
    padding-left: 15px;
}

#breadcrumbs {
    line-height: 20px;
}