{% block form_row %}
    {% spaceless %}
        <div>                  
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }} 
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-danger fade in alert-dismissible" role="alert">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{# registration fields #}
{%- block _fos_user_registration_form_username_label %}
    <label for="fos_user_registration_form_username" class="required">{{ label|trans([],'FOSUserBundle') }} :<i class="im im-icon-Male"></i>
{% endblock %}
    
{%- block _fos_user_registration_form_username_row -%}
    <p class="form-row form-row-wide">
        {{ form_label(form) }}
            {{ form_widget(form, { 'attr':{ 'class': 'input-text' } }) }}
        </label>
        {{ form_errors(form) }}
    </p>
{% endblock %}

{%- block _fos_user_registration_form_email_label %}
    <label for="fos_user_registration_form_email" class="required">{{ label|trans([],'FOSUserBundle') }} :<i class="im im-icon-Mail"></i>
{% endblock %}
    
{%- block _fos_user_registration_form_email_row -%}
    <p class="form-row form-row-wide">
        {{ form_label(form) }}
            {{ form_widget(form, { 'attr':{ 'class': 'input-text' } }) }}
        </label>
        {{ form_errors(form) }}
    </p>
{% endblock %}
    
{%- block _fos_user_registration_form_plainPassword_first_label %}
    <label for="fos_user_registration_form_plainPassword_first" class="required">{{ label|trans([],'FOSUserBundle') }} :<i class="im im-icon-Lock-2"></i>
{% endblock %}
    
{%- block _fos_user_registration_form_plainPassword_first_row -%}
    <p class="form-row form-row-wide">
        {{ form_label(form) }}
            {{ form_widget(form, { 'attr':{ 'class': 'input-text' } }) }}
        </label>
        {{ form_errors(form) }}
    </p>
{% endblock %}
    
{%- block _fos_user_registration_form_plainPassword_second_label %}
    <label for="fos_user_registration_form_plainPassword_second" class="required">{{ label|trans([],'FOSUserBundle') }} :<i class="im im-icon-Lock-2"></i>
{% endblock %}
    
{%- block _fos_user_registration_form_plainPassword_second_row -%}
    <p class="form-row form-row-wide">
        {{ form_label(form) }}
            {{ form_widget(form, { 'attr':{ 'class': 'input-text' } }) }}
        </label>
        {{ form_errors(form) }}
    </p>
{% endblock %}
 
{% block _store_treatmentPrices_row %}
    <div class="add-listing-section margin-top-45 switcher-on margin-bottom-50">
        <div class="add-listing-headline">
            <h3><i class="sl sl-icon-docs"></i> {{ 'priceList'|trans }}</h3>
        </div>
        <div class="switcher-content" id="treatment-price-fields-list" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            {% for field in form %}
                <div class="row">
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-another-treatment-price" class="button margin-top-20">{{ 'add'|trans }}</a>
    </div>
{% endblock %}

{% block _store_treatmentPrices_entry_treatment_row %}
    <div class="col-md-2">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_treatmentPrices_entry_shortDescription_row %}
    <div class="col-md-7">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_treatmentPrices_entry_price_row %}
    <div class="col-md-1">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_treatmentPrices_entry_reducePrice_row %}
    <div class="col-md-1">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_openingHours_row %}
    <div class="add-listing-section margin-top-45 switcher-on margin-bottom-50">
        <div class="add-listing-headline">
            <h3><i class="sl sl-icon-clock"></i> {{ 'app.store.openingHours'|trans }}</h3>
        </div>
        <div class="switcher-content" id="opening-hour-fields-list" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            {% for field in form %}
                <div class="row">
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endfor %}
        </div>
        {% if form|length < 7 %}
            <a href="#" id="add-another-opening-hour" class="button">{{ 'add'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block _store_openingHours_entry_day_row %}
    <div class="col-md-5">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_openingHours_entry_openHour_row %}
    <div class="col-md-3">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_openingHours_entry_closeHour_row %}
    <div class="col-md-3">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_socialNetworks_row %}
    <div class="add-listing-section margin-top-45 switcher-on margin-bottom-50">
        <div class="add-listing-headline">
            <h3><i class="sl sl-icon-like"></i> {{ 'app.store.form.socialNetworks'|trans }}</h3>
        </div>
        <div class="switcher-content" id="social-network-fields-list" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            {% for field in form %}
                <div class="row">
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endfor %}
        </div>
        {% if form|length < 5 %}
            <a href="#" id="add-another-social-network" class="button">{{ 'add'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block _store_socialNetworks_entry_social_row %}
    <div class="col-md-4">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _store_socialNetworks_entry_url_row %}
    <div class="col-md-7">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{%- block _store_tipology_row -%}
    <div class="margin-top-10 margin-bottom-10">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
    
{%- block _store_categories_row -%}
    <div class="margin-top-10 margin-bottom-10">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}