{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'app.titlebar.connect_account_success'|trans, 'pagination': null } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
