{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'header.connecting' | trans({}, 'HWIOAuthBundle'), 'pagination': null } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
                <p>
                    {{ form_start(form, {'action': path('hwi_oauth_connect_service', {'service': service, 'key': key}) }) }}
                        {{ form_widget(form) }}
                        <div>
                            <button type="submit" class="button">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                            <a href="{{ path('hwi_oauth_connect') }}">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                        </div>
                    {{ form_end(form) }}
                </p>
            </div>
        <div class="span6">
            {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                <img src="{{ userInformation.profilePicture }}" />
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}