{% extends "base.html.twig" %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': '404', 'pagination': null } %}
{% endblock %}

{% block content %}
    <style>.geolocation i { font-size: inherit !important; top: auto !important; position: initial !important; }</style>
    <div class="container">

	<div class="row">
		<div class="col-md-12">

			<section id="not-found" class="center">
				<h2>404 <i class="fa fa-question-circle"></i></h2>
				<p>{{ '404_page'|trans }}</p>

				<!-- Search -->
				<div class="row">
					<div class="col-xs-12">
                                                {{ render(controller('AppBundle:Search:_search', { 'custom_css': '' })) }}
					</div>
				</div>
				<!-- Search Section / End -->

			</section>

		</div>
	</div>

    </div>
{% endblock %}