{% extends "dashboard.html.twig" %}

{% block content %}
    {% block fos_user_content %}
        <div class="col-xs-12">
            {% include "@FOSUser/Profile/show_content.html.twig" %}
        </div>
    {% endblock fos_user_content %}
{% endblock %}