{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <table class="basic-table">
        <tbody>
            <tr>
                <th>{{ 'profile.show.username'|trans }}</th>
                <th>{{ 'profile.show.email'|trans }}</th>
                <th>{{ 'app.form.actions'|trans([], 'messages') }}</th>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('fos_user_profile_edit') }}" class="button medium border"><i class="fa fa-edit"></i> {{ 'edit'|trans([], 'messages') }}</a>
                    <a href="{{ path('fos_user_change_password') }}" class="button medium border"><i class="fa fa-edit"></i> {{ 'change password'|trans([], 'messages') }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
