{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
    <script> 
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.config.protectedSource.push(/<i[^>]*><\/i>/g);
    </script>
    <script src="{{ asset('bundles/appivory/plugins/tabs1/js/tabs1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/appivory/plugins/toggle/js/toggle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/appivory/plugins/customButton/js/customButton.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/appivory/plugins/pricingTable/js/pricingTable.js') }}" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key={{ api_google_key }}&libraries=places&language=it"></script>
    <script>
        {% if admin is defined %}
            $(document).ready(function(){
                if(document.getElementById('{{ admin.uniqid ~ "_address" }}') != null) {
                    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('{{ admin.uniqid ~ "_address" }}'), {
                        //types: ['(cities)'],
                        componentRestrictions: {country: 'it'}
                    });
                }
            });
        {% endif %}
    </script>
{% endblock %}