<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                // init the FB JS SDK
                FB.init({
                    appId      : '715853615277129',                        // App ID from the app dashboard
                    autoLogAppEvents : true,
                    status           : true,
                    xfbml            : true,
                    version          : 'v2.9' // or v2.8, v2.7, v2.6, v2.5, v2.4, v2.3,
                });
            };

            // Load the SDK asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function fb_login() {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        // connected
                        alert('Already connected, redirect to login page to create token.');
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        // not_authorized
                        FB.login(function(response) {
                            if (response.authResponse) {
                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                            } else {
                                alert('Cancelled.');
                            }
                        }, {scope: 'email,public_profile'});
                    }
                });
            }
        </script>
        <!-- Wrapper -->
        <div id="wrapper">
            {% include 'header/_navigation.html.twig' with { 'css_class': '', 'dashboard' : false } %}
            
            {% block header %}
                {% include 'header/_banner.html.twig' %}
            {% endblock %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} fade in alert-dismissible" role="alert">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %} {% endblock %}
            
            <!-- Footer ================================================== -->
            <div id="footer" class="margin-top-50">
                    <!-- Main -->
                    <div class="container">
                            <div class="row">
                                    <div class="col-md-5 col-sm-6">
                                            <img class="footer-logo" src="{{ asset('assets/images/logo.png') }}" alt="">
                                            <br><br>
                                            <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
                                    </div>

                                    <div class="col-md-4 col-sm-6 ">
                                            <h4>Helpful Links</h4>
                                            <ul class="footer-links">
                                                    <li><a href="#">Login</a></li>
                                                    <li><a href="#">Sign Up</a></li>
                                                    <li><a href="#">My Account</a></li>
                                                    <li><a href="#">Add Listing</a></li>
                                                    <li><a href="#">Pricing</a></li>
                                                    <li><a href="#">Privacy Policy</a></li>
                                            </ul>

                                            <ul class="footer-links">
                                                    <li><a href="#">FAQ</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                    <li><a href="#">Our Partners</a></li>
                                                    <li><a href="#">How It Works</a></li>
                                                    <li><a href="#">Contact</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                    </div>		

                                    <div class="col-md-3  col-sm-12">
                                            <h4>Contact Us</h4>
                                            <div class="text-widget">
                                                    <span>12345 Little Lonsdale St, Melbourne</span> <br>
                                                    Phone: <span>(123) 123-456 </span><br>
                                                    E-Mail:<span> <a href="#">office@example.com</a> </span><br>
                                            </div>

                                            <ul class="social-icons margin-top-20">
                                                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                                                    <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                                            </ul>

                                    </div>

                            </div>

                            <!-- Copyright -->
                            <div class="row">
                                    <div class="col-md-12">
                                            <div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
                                    </div>
                            </div>

                    </div>

            </div>
            <!-- Footer / End -->


            <!-- Back To Top Button -->
            <div id="backtotop"><a href="#"></a></div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery-2.2.0.min.js') }}"></script>
            <script src="http://maps.googleapis.com/maps/api/js?key={{ api_google_key }}&libraries=places&language=it"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jpanelmenu.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/chosen.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/slick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/rangeslider.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/magnific-popup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/counterup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/tooltips.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/tooltips.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.browser.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.ba-bbq.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.lazyload.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.form.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>