<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery-2.2.0.min.js') }}"></script>
            <script src="http://maps.googleapis.com/maps/api/js?key={{ api_google_key }}&libraries=places&language=it"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jpanelmenu.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/chosen.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/slick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/rangeslider.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/magnific-popup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/counterup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/tooltips.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/tooltips.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.browser.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.ba-bbq.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.lazyload.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery.form.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'header/_navigation.html.twig' with { 'css_class': 'fixed fullwidth dashboard', 'dashboard' : true } %}
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Dashboard -->
            <div id="dashboard">

                    {% include 'dashboard/_nav_sidebar.html.twig' %}

                    <!-- Content
                    ================================================== -->
                    <div class="dashboard-content">
                        <div class="col-xs-12">
                            <div class="col-md-3">ok</div>
                            <div class="col-md-3">ok</div>
                            <div class="col-md-3">ok</div>
                            <div class="col-md-3">ok</div>
                        </div>
                            <!-- Titlebar -->
                            {% block titlebar %}
                                {% include 'dashboard/_titlebar.html.twig' with { 'title': 'Dashboard' } %}
                            {% endblock %}

                                <div class="row">
                                        <div class="col-md-12">
                                            {% for type, messages in app.session.flashbag.all() %}
                                                {% for message in messages %}
                                                    <div class="notification {{ type }} closeable margin-bottom-30">
                                                        <p>{{ message|raw }}</p>
                                                        <a class="close"></a>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                </div>
                            
                            <!-- Content -->
                            <div class="row">
                                {% block content %} {% endblock %}
                            </div>

                    </div>
                    <!-- Content / End -->


            </div>
            <!-- Dashboard / End -->
        </div>
        
    </body>
</html>