<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}
        {% block javascripts %}
            <script src="http://maps.googleapis.com/maps/api/js?key={{ api_google_key }}&libraries=places&language=it"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery-2.2.0.min.js') }}"></script>
        {% endblock %}
    </body>
</html>