<!-- Mobile Navigation -->
<div class="menu-responsive">
        <i class="fa fa-reorder menu-trigger"></i>
</div>

<!-- Main Navigation -->
<nav id="navigation" class="style-1">
        <ul id="responsive">
                {% for link in menu %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        {% if link.children|length > 0 %}
                            {% include 'default/_submenu.html.twig' with { 'childrens' : link.children } %}
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
</nav>
<div class="clearfix"></div>
<!-- Main Navigation / End -->