<div class="col-lg-3 col-md-4">
    <div class="sidebar">
        <!-- Widget Search -->
        <div class="widget margin-bottom-40">
                <h3 class="margin-top-0 margin-bottom-30">{{ 'app.widget.search.title'|trans }}</h3>
                <form method="GET" action="{{ path('app_search') }}" id="search_form">
                    <!-- Row -->
                    <div class="row with-forms">
                            <!-- Type -->
                            <div class="col-md-12">
                                <select name="categoria" data-placeholder="{{ 'treatments_search'|trans }}" class="chosen-select">
                                    <option value="">{{ 'all_treatments'|trans }}</span>
                                    {% for category in categories -%}
                                        <option {{ category.slug == request.get('categoria') ? 'selected="selected"' : '' }} value="{{ category.slug }}" class="optCategoryParent">{{ category.title }}</option>
                                        {% for children in category.children %}
                                            <option {{ children.slug == request.get('categoria') ? 'selected="selected"' : '' }} value="{{ children.slug }}" class="optCategoryChild">{{ children.title }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <!-- Row / End -->

                    <!-- Row -->
                    <div class="row with-forms">
                            <!-- Cities -->
                            <div class="col-md-12">

                                <div class="input-with-icon location">
                                    <input value="{{ request.get('dove') }}" id="place" name="dove" type="text" placeholder="{{ 'place_search'|trans }}"/>
                                    <a class="geolocation" href="#"><i class="fa fa-dot-circle-o"></i></a>
                                </div>

                            </div>
                    </div>
                    <!-- Row / End -->
                    <br>

                    <!-- Area Range -->
                    <div class="range-slider">
                        <input id="search_radius" name="raggio" class="distance-radius" type="range" min="1" max="100" step="1" value="{{ request.get('raggio') is not null ? request.get('raggio') : 50 }}" data-title="Nel raggio di">
                    </div>

                    <!-- More Search Options -->
                    <a href="#" class="more-search-options-trigger margin-bottom-5 margin-top-20 {{ request.get('tipologia') is not null ? 'active' : '' }}" data-open-title="Altri Filtri" data-close-title="Altri Filtri"></a>

                    <div class="more-search-options relative {{ request.get('tipologia') is not null ? 'active' : '' }}" {{ request.get('tipologia') is not null ? 'style="display:block;"' : '' }}>

                            <!-- Checkboxes -->
                            <div class="radios one-in-row margin-bottom-15">
                                {% for tipology in tipologies %}
                                    <input {{ tipology.slug == request.get('tipologia') ? 'checked' : '' }} id="tipology_{{ tipology.id }}" type="radio" name="tipologia" value="{{ tipology.slug }}">
                                    <label for="tipology_{{ tipology.id }}">{{ tipology.title }}</label>
                                {% endfor %}
                            </div>
                            <!-- Checkboxes / End -->

                    </div>
                    <!-- More Search Options / End -->

                    <button class="button fullwidth margin-top-25">Cerca</button>
                </form>
        </div>
        <!-- Widget Search / End -->
    </div>
</div>
<!-- Sidebar / End -->