{% if childrens|length > 0 %}
    <ul>
        {% for child in childrens %}
            <li>
                <a href="{{ child.url }}">{{ child.title }}</a>
                {% if link.children|length > 0 %}
                    {% include 'default/_submenu.html.twig' with { 'childrens' : child.children } %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}