{% extends 'base.html.twig' %}

{% block content %}
    <!-- Content ================================================== -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-top-75">
                        Popular Categories
                        <span>Browse <i>the most desirable</i> categories</span>
                </h3>
            </div>

        </div>
    </div>


    <!-- Categories Carousel -->
    <div class="fullwidth-carousel-container margin-top-25">
        <div class="fullwidth-slick-carousel category-carousel">
            {% for category in categories %}
                <!-- Item -->
                <div class="fw-carousel-item">
                    <div class="category-box-container">
                        {% if category.image and category.image.enabled  %}
                            <a href="{{ locality ? path('app_city_stores', {'category': category.slug, 'city': locality }) :  path('app_stores', {'category': category.slug}) }}" class="category-box" data-background-image="{% path category.image, 'reference' %}">
                        {% else %}
                            <a href="{{ locality ? path('app_city_stores', {'category': category.slug, 'city': locality }) :  path('app_stores', {'category': category.slug}) }}" class="category-box">
                        {% endif %}
                            <div class="category-box-content">
                                <h3>{{ category.title }}</h3>
                                {% if category.children|length > 0 %}
                                    <span>{{ category.children|length }} listings</span>
                                {% endif %}
                            </div>
                            <span class="category-box-btn">Mostra</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Categories Carousel / End -->
{% endblock %}

