[{% for store in stores -%}
    {{ { 
            id: store[0].id, 
            url: path('app_store_show',{ 'tipology': store[0].tipology.slug, 'slug': store[0].slug, 'city': store[0].city }), 
            image: asset('assets/images/listing-item-01.jpg'), 
            title: store[0].title|raw, 
            address: store[0].address,
            latitude: store[0].latitude,
            longitude: store[0].longitude,
            icon: 'Map-Marker'
        }|json_encode|raw 
    }}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}]