{% extends "base.html.twig" %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'app.title.registration'|trans, 'pagination': null } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include "@FOSUser/Registration/register_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
