{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('app_register_custom'), 'attr': {'class': 'register fos_user_registration_register', 'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    
    <input type="submit" class="button border fw margin-top-10" name="register" value="{{ 'registration.submit'|trans }}" />
    
{{ form_end(form) }}