{% trans_default_domain 'AppBundle' %}

{% block subject %}
    {%- autoescape false -%}
      {{ 'app.main.email.registration_user.subject'|trans }}
    {%- endautoescape -%}
{% endblock %}

{% block body %}
    {% autoescape false %}
        {{ 'app.main.email.registration_user.message'|trans({
            '%company%': company.name
        })|raw }}
    {% endautoescape %}
{% endblock %}