{% block fos_user_content %}
    <div class="tab-content" id="tab2" style="display: none;">
        {% include "AppBundle:Registration:register_custom_content.html.twig" %}
    </div>
{% endblock fos_user_content %}