{% block fos_user_content %}
    <div class="tab-content" id="tab1" style="display: none;">
        {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
        {% for owner in hwi_oauth_resource_owners() %}
            <a href="{{ hwi_oauth_login_url(owner) }}" class="button medium btn-{{ owner }}"><i class="fa fa-{{ owner }}"></i> {{ 'app.user.owner' | trans({'%owner%' : owner|capitalize}) }}</a><br />
        {% endfor %}
        {% include "AppBundle:Security:login_custom_content.html.twig" %}
    </div>
{% endblock fos_user_content %}