{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="login fos_user_form_login" novalidate action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <p class="form-row form-row-wide">
            <label for="username">{{ 'security.login.username'|trans }}:
                    <i class="im im-icon-Male"></i>
                    <input class="input-text" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </label>
    </p>

    <p class="form-row form-row-wide">
            <label for="password">{{ 'security.login.username'|trans }}:
                    <i class="im im-icon-Lock-2"></i>
                    <input class="input-text" type="password" id="password" name="_password" required="required" />
            </label>
            <span class="lost_password">
                    <a href="{{ path('fos_user_resetting_request') }}" >{{ 'app.title.lost_password'|trans }}</a>
            </span>
    </p>

    <div class="form-row">
            <input type="submit"  class="button border margin-top-5" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
