{% extends "base.html.twig" %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'app.title.login'|trans, 'pagination': null } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for owner in hwi_oauth_resource_owners() %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" style="width: auto !important;" class="button medium btn-{{ owner }}"><i class="fa fa-{{ owner }}"></i> {{ 'app.user.owner' | trans({'%owner%' : owner|capitalize}) }}</a><br />
                {% endfor %}
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}