{% extends "base.html.twig" %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'app.title.request_password_ok'|trans, 'pagination': null } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle')|nl2br }}</p>
            </div>
        </div>
    </div>
{% endblock %}
