{% extends "dashboard.html.twig" %}

{% block titlebar %}
    {% include 'dashboard/_titlebar.html.twig' with { 'title': 'store add' } %}
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {{ form_start(form, {'method': 'post', 'action': path('app_profile_store_add'), 'attr':{'novalidate': 'novalidate'} }) }}
        <div class="add-listing-section">
            <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-doc"></i>{{ 'information'|trans }}</h3>
            </div>
           {{ form_widget(form) }}
           <div>
                <input type="submit" value="{{ 'save'|trans }}" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
    {{ parent() }}
    <style>
        #header.cloned.sticky #logo a img {
            top: 25% !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var treatmentPriceCount = '{{ form.treatmentPrices|length }}';
        var openingHourCount = '{{ form.openingHours|length }}';
        var socialNetworkCount = '{{ form.socialNetworks|length }}';

        jQuery(document).ready(function() {
            if(document.getElementById('store_address') != null) {
                //Place Autocomplete Search Google
                var autocomplete = new google.maps.places.Autocomplete(document.getElementById('store_address'), {
                    //types: ['(cities)'],
                    componentRestrictions: {country: 'it'}
                });
            }
        
            var treatmentPriceList = jQuery('#treatment-price-fields-list');
            var openingHourList = jQuery('#opening-hour-fields-list');
            var socialNetworkList = jQuery('#social-network-fields-list');
            
            jQuery('#add-another-treatment-price').click(function(e) {
                e.preventDefault();

                // grab the prototype template
                var newWidget = treatmentPriceList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, treatmentPriceCount);
                treatmentPriceCount++;
                // create a new list element and add it to the list
                var newDiv = jQuery('<div class="row"></div>').html(newWidget);
                newDiv.appendTo(treatmentPriceList);
                
                addTreatmentPriceDeleteLink(newDiv);
            });
            
            treatmentPriceList.find('.treatment-price-box').each(function() {
                addTreatmentPriceDeleteLink($(this));
            });

            function addTreatmentPriceDeleteLink($formDiv) {
                var $removeFormA = $('<div class="col-md-1"><label>{{ 'delete'|trans }}</label><a href="#" class="button"><i class="fa fa-remove"></i></a></div>');
                $formDiv.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $formDiv.remove();
                });
            }
            
            jQuery('#add-another-opening-hour').click(function(e) {
                e.preventDefault();

                // grab the prototype template
                var newWidget = openingHourList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, openingHourCount);
                openingHourCount++;
                // create a new list element and add it to the list
                var newDiv = jQuery('<div class="row"></div>').html(newWidget);
                newDiv.appendTo(openingHourList);
                
                addOpeningHourDeleteLink(newDiv);
            });
            
            openingHourList.find('.opening-hour-box').each(function() {
                addOpeningHourDeleteLink($(this));
            });

            function addOpeningHourDeleteLink($formDiv) {
                var $removeFormA = $('<div class="col-md-1"><label>{{ 'delete'|trans }}</label><a href="#" class="button"><i class="fa fa-remove"></i></a></div>');
                $formDiv.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $formDiv.remove();
                });
            }
            
            jQuery('#add-another-social-network').click(function(e) {
                e.preventDefault();

                // grab the prototype template
                var newWidget = socialNetworkList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, socialNetworkCount);
                socialNetworkCount++;
                // create a new list element and add it to the list
                var newDiv = jQuery('<div class="row"></div>').html(newWidget);
                newDiv.appendTo(socialNetworkList);
                
                addSocialNetworkDeleteLink(newDiv);
            });
            
            socialNetworkList.find('.social-network-box').each(function() {
                addSocialNetworkDeleteLink($(this));
            });

            function addSocialNetworkDeleteLink($formDiv) {
                var $removeFormA = $('<div class="col-md-1"><label>{{ 'delete'|trans }}</label><a href="#" class="button"><i class="fa fa-remove"></i></a></div>');
                $formDiv.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $formDiv.remove();
                });
            }
        })
    </script>
{% endblock %}