{% extends "dashboard.html.twig" %}

{% block titlebar %}
    {% include 'dashboard/_titlebar.html.twig' with { 'title': 'store' } %}
{% endblock %}
                            
{% block content %}
    <!-- Listings -->
    <div class="col-lg-12 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <h4>Active Listings</h4>
            <ul>  
            {% for store in pagination %}
                <li>
                    <div class="list-box-listing">
                            <div class="list-box-listing-img">
                                <a href="#"><img src="{{ asset('assets/images/listing-item-01.jpg') }}" alt="{{ store.title }}"></a>
                            </div>
                            <div class="list-box-listing-content">
                                    <div class="inner">
                                            <h3><a href="{{ path('app_profile_store_edit',{'id': store.id}) }}">{{ store.title }}</a></h3>
                                            <span>{{ store.address }}</span>
                                    </div>
                            </div>
                    </div>
                    <div class="buttons-to-right">
                        <a href="{{ path('app_profile_store_edit', { 'id': store.id }) }}" class="button gray"><i class="sl sl-icon-note"></i> {{ 'edit'|trans([], 'messages') }}</a>
                        <a href="{{ path('app_profile_store_delete', { 'id': store.id }) }}" class="button gray"><i class="sl sl-icon-close"></i> Delete</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="pagination-container margin-top-20 margin-bottom-40">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}