{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}
<p>
<div class="btn-group">
    <a type="button" class="btn {% if mode == 'list' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list') }}">
        <i class="fa fa-list"></i> {{ 'app.form.list_mode'|trans }}
    </a>
    <a type="button" class="btn {% if mode == 'tree' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('tree') }}">
        <i class="fa fa-sitemap"></i> {{ 'app.form.tree_mode'|trans }}
    </a>
</div>
</p>