{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% import _self as tree %}

{% macro navigate_child(collection, admin, root, depth, tree) %}
    <ol class="sonata-tree sonata-tree--toggleable js-treeview sortable">
        {% for element in collection %}
            <li id="list_{{ element.id }}" class="sonata-ba-list-field" objectId="{{ element.id }}" >
                <div class="sonata-tree__item">
                    <a class="sonata-tree__item__edit" href="{{ admin.generateObjectUrl('edit', element) }}">{{ element.title }}</a>
                    {% if element.isPublic %}
                        <span class="label label-success pull-right"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="label label-danger pull-right"><i class="fa fa-times"></i></span>
                    {% endif %}
                </div>

                {% if element.children|length %}
                    {{ tree.navigate_child(element.children, admin, false, depth +1, tree) }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% block tab_menu %}
    {% include 'AppBundle:Admin/Menu:list_tab_menu.html.twig' with {
    'mode':   'tree',
    'action': action,
    'admin':  admin,
    } only %}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    {{ admin.trans('app.form.tree_mode', {}, admin.translationdomain) }}
                </h1>
            </div>
            <div class="box-content nested-url">
                {{ tree.navigate_child(links, admin, true, 0, tree) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/jquery.mjs.nestedSortable.js') }}"></script>
    <script>
         $(document).ready(function(){
            var init_dumped_text = '{"data":[';
            var close_dumped_text = ']}';

            $('ol.sortable').nestedSortable({
                handle: 'div',
                items: 'li',
                toleranceElement: '> div',
                maxLevels: 2,
                stop: function(event, ui)
                {
                    arraied = $('ol.sortable').nestedSortable('toArray', {startDepthCount: 0});
                    arraied = init_dumped_text + dump(arraied) + close_dumped_text;
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('admin_app_menu_jsonTree',{ 'data' : '' }) }}',
                        data: { 
                            'json': arraied,
                        },
                        success: function(response) {
                            var object = $.parseJSON(response);
                            $('.alert').remove();
                            var $before = $('.box-primary');
                            $('<div class="alert alert-'+object.type+' alert-dismissable">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+object.message+'' +
                            '</div>').insertBefore($before);
                        }
                    });
                }
            });

            function dump(arr,level) {
                var dumped_text = '';
                if(!level) level = 0;

                if(typeof(arr) == 'object'){
                    for(var item in arr){
                        var value = arr[item];

                        if(typeof(value) == 'object'){
                            dumped_text += '{';
                            dumped_text += dump(value,level+1);
                            dumped_text += '},';
                        } else {
                            dumped_text += '"' + item + '": ' + value +',';
                        }
                    }
                }else{
                    dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
                }

                return dumped_text;
            }
        });
    </script>
{% endblock %}