<nav id="breadcrumbs">
    <ul>
        {% for node in breadcrumbs %}
            {% if not loop.last %}
                <li><a href="{{ node.path }}">{{ node.label|trans|title }}</a></li>
            {% else %}
                <li class="active">{{ node.label|trans|title }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>