<!-- Navigation ================================================== -->

<!-- Responsive Navigation Trigger -->
<a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

<div class="dashboard-nav">
        <div class="dashboard-nav-inner">
                <ul data-submenu-title="Account">
                    <li><a href="{{ path('app_profile_store_list') }}"><i class="sl sl-icon-layers"></i> {{ 'store'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="sl sl-icon-user"></i> {{ 'app.user.profile.show'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="sl sl-icon-power"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>

        </div>
</div>
<!-- Navigation / End -->