<div id="titlebar">
        <div class="row">
                <div class="col-md-12">
                        <h2>{{ title|trans }}</h2> <span>{{ 'user_panel'|trans }}</span>
                </div>
        </div>
</div>