<!-- Slider================================================== -->
<div class="listing-slider mfp-gallery-container margin-bottom-0">
    {% if gallery and gallery.enabled %}
        {% for image in gallery.galleryHasMedias if image.enabled %}
            {% if image.media.enabled %}
                <a href="{% path image.media, 'reference' %}" data-background-image="{% path image.media, 'reference' %}" class="item mfp-gallery" title="{{ image }}"></a>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{{ asset('assets/images/single-listing-01.jpg') }}" data-background-image="{{ asset('assets/images/single-listing-01.jpg') }}" class="item mfp-gallery" title="Title 1"></a>
        <a href="{{ asset('assets/images/single-listing-02.jpg') }}" data-background-image="{{ asset('assets/images/single-listing-02.jpg') }}" class="item mfp-gallery" title="Title 3"></a>
        <a href="{{ asset('assets/images/single-listing-03.jpg') }}" data-background-image="{{ asset('assets/images/single-listing-03.jpg') }}" class="item mfp-gallery" title="Title 2"></a>
        <a href="{{ asset('assets/images/single-listing-04.jpg') }}" data-background-image="{{ asset('assets/images/single-listing-04.jpg') }}" class="item mfp-gallery" title="Title 4"></a>
    {% endif %}
</div>