<!-- Listing Item -->
<div class="col-lg-6 col-md-12">
    <a href="{{ path('app_store_show', {'tipology': store[0].tipology.slug, 'slug': store[0].slug, 'city': store[0].city}) }}" class="listing-item-container compact">
        <div class="listing-item">
            {% if store[0].image and store[0].image.enabled %}
                {% include 'store/_image.html.twig' with { 'store' : store[0] } %}
            {% endif %}
            {% if store[0].openingHours|length > 0 %}
                {% include 'store/_listing_badge.html.twig' with { 'openingHours': store[0].openingHours } %}
            {% endif %}
            <div class="listing-item-content">
                <h3>{{ store[0].title }}</h3>
                <span>{{ store[0].address }} - {{ store.distance|round(1, 'floor')}}km</span>
            </div>
            <span class="like-icon"></span>
        </div>
    </a>
</div>
<!-- Listing Item / End -->