<div class="element-item list-item col-lg-12 col-md-12" {#data-title="{{ store[0].title }}"#}>
    <div class="listing-item-container list-layout">
        <a href="{{ path('app_store_show', {'tipology': store[0].tipology.slug, 'slug': store[0].slug, 'city': store[0].city}) }}" class="listing-item">
            <!-- Image -->
            <div class="listing-item-image">
                {% if store[0].image and store[0].image.enabled %}
                    {% include 'store/_image.html.twig' with { 'store' : store[0] } %}
                {% endif %}
                {% if store[0].tipology %}
                    <span class="tag">{{ store[0].tipology }}</span>
                {% endif %}
            </div>

            <!-- Content -->
            <div class="listing-item-content">
                {% if store[0].openingHours|length > 0 %}
                    {% include 'store/_listing_badge.html.twig' with { 'openingHours': store[0].openingHours } %}
                {% endif %}

                <div class="listing-item-inner">
                    <h3>{{ store[0].title }}</h3>
                    <span>{{ store[0].address }} - {{ store.distance|round(1, 'floor')}}km</span>
                </div>

                <span class="like-icon"></span>
            </div>
        </a>
    </div>
</div>