{% set openingHoursTable = oh_table(store[0].openingHours) %}
<div class="listing-badge {{ openingHoursTable['is_open'] ? 'now-open' : 'now-closed' }}">{{ openingHoursTable['is_open'] ? 'app.store.open'|trans : 'app.store.close'|trans }}</div>