<div class="col-md-6 col-xs-6">
    <!-- Layout Switcher -->
    <div class="layout-switcher">
        <a href="#layout=grid" class="grid {{ app.request.get('layout') == 'grid' ? 'active' : '' }}"><i class="fa fa-th"></i></a>
        <a href="#layout=list" class="list {{ app.request.get('layout') == 'list' ? 'active' : '' }}"><i class="fa fa-align-justify"></i></a>
    </div>
</div>
{% if show %}
    <div class="col-md-6 col-xs-6 text-right hidden-xs">
        {%if app.request.attributes.get('_route') == 'app_city_stores' %}
            <a class="button medium border popup-gmaps" href="{{ path('app_ajax_google_maps', { 'dove': app.request.get('city'), 'categoria': app.request.get('category') } ) }}"><i class="fa fa-map-marker"></i> {{ 'show_maps'|trans }}</a>
        {% else %}
            <a class="button medium border popup-gmaps" href="{{ path('app_ajax_google_maps', app.request.query.all) }}"><i class="fa fa-map-marker"></i> {{ 'show_maps'|trans }}</a>
        {% endif %}
    </div>
{% endif %}