{% extends 'maps.html.twig' %}

{% block content %}
    <div id="map-container" class="fullwidth-home-map">
        <div id="map" data-map-latitude="{{ coords.latitude }}" data-map-longitude="{{ coords.longitude }}" data-map-zoom="12" data-href="{{ app.request.uri }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/infobox.min.js') }}"></script>
    <script src="{{ asset('assets/js/markerclusterer.js') }}"></script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}