{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/_titlebar.html.twig' with { 'title': 'app.title.treatments'|trans, 'pagination': pagination } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 padding-right-30">

                <!-- Sorting / Layout Switcher -->
                <div class="row margin-bottom-25">
                    {% include 'store/_switcher.html.twig' with { 'show': pagination|length > 0 ? true : false } %}
                </div>
                <!-- Sorting / Layout Switcher / End -->

                <div id="elements" class="row" data-href="{{ ajax_url }}">
                    {% if pagination|length > 0 %}
                        {% for store in pagination %}
                            {% set layout = app.request.get('layout') == 'grid' ? '_grid' : '_list' %}
                            {% include 'store/' ~ layout ~ '.html.twig' with { 'store': store } %}
                        {% endfor %}
                        {% include 'ajax/_mask_loader.html.twig' %}
                    {% else %}
                        {% include 'default/_no_results_found.html.twig' %}
                    {% endif %}
                </div>

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <div class="pagination-container margin-top-20 margin-bottom-40">
                                {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <!-- Pagination / End -->

            </div>

            {{ render(controller('AppBundle:Default:_sidebar', { 'request': app.request })) }}    
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/pagination.js') }}"></script>
{% endblock %}