{% extends 'base.html.twig' %}

{% block header %}
    {% include 'store/_gallery.html.twig' with { 'gallery' : store.gallery } %}
{% endblock %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
    <div class="row sticky-wrapper">
        <div class="col-lg-8 col-md-8 padding-right-30">

                <!-- Titlebar -->
                <div id="titlebar" class="listing-titlebar">
                    <div class="listing-titlebar-title">
                        <h2>{{ store.title }} {% if store.tipology %}<span class="listing-tag">{{ store.tipology }}</span>{% endif %}</h2>
                        <span>
                            <a href="#listing-location" class="listing-address">
                                <i class="fa fa-map-marker"></i>
                                {{ store.address }}
                            </a>
                        </span>
                    </div>
                </div>

                <!-- Listing Nav -->
                <div id="listing-nav" class="listing-nav-container">
                    <ul class="listing-nav">
                        <li><a href="#listing-overview" class="active">{{ 'preview'|trans }}</a></li>
                        {% if store.treatmentPrices|length > 0 %}
                            <li><a href="#listing-pricing-list">{{ 'priceList'|trans }}</a></li>
                        {% endif %}
                        <li><a href="#listing-location">{{ 'location'|trans }}</a></li>
                    </ul>
                </div>

                <!-- Overview -->
                <div id="listing-overview" class="listing-section"> {{ store.description|raw }} </div>

                {% if store.treatmentPrices|length > 0 %}
                    <div id="listing-pricing-list" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-70 margin-bottom-30">{{ 'priceList'|trans }}</h3>

                            <div class="show-more">
                                    <div class="pricing-list-container">
                                        <h4>{{ 'app.title.treatments'|trans }}</h4>
                                        <ul>
                                            {% for treatmentPrice in store.treatmentPrices %}
                                                <li>
                                                    <h5>{{ treatmentPrice.treatment }}</h5>
                                                    {% if treatmentPrice.shortDescription %}
                                                        <p>{{ treatmentPrice.shortDescription|raw }}</p>
                                                    {% endif %}
                                                    {% if treatmentPrice.price %}
                                                        <span>{{ currency ~ treatmentPrice.price|number_format(2, '.', ',') }}</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}                                            
                                        </ul>
                                    </div>
                            </div>
                            {% if store.treatmentPrices|length >= 4 %}
                                <a href="#" class="show-more-button" data-more-title="{{ 'show_more_btn'|trans }}" data-less-title="{{ 'show_less_btn'|trans }}"><i class="fa fa-angle-down"></i></a>
                            {% endif %}
                    </div>
                {% endif %}

                <!-- Location -->
                <div id="listing-location" class="listing-section">
                    <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">{{ 'location'|trans }}</h3>

                    <div id="singleListingMap-container">
                            <div id="singleListingMap" data-latitude="{{ store.latitude }}" data-longitude="{{ store.longitude }}" data-map-icon="im im-icon-Map-Marker"></div>
                            <a href="#" id="streetView">{{ 'streetView'|trans }}</a>
                    </div>
                </div>

        </div>


        <!-- Sidebar
        ================================================== -->
        <div class="col-lg-4 col-md-4 margin-top-75 sticky">

                <!-- Contact -->
                <div class="boxed-widget margin-top-35">
                        <h3><i class="sl sl-icon-pin"></i> {{ 'app.contacts'|trans }}</h3>
                        <ul class="listing-details-sidebar">
                            {% if store.phone %}
                                <li><i class="sl sl-icon-phone"></i> {{ store.phone }}</li>
                            {% endif %}
                            {% if store.website %}
                                <li><i class="sl sl-icon-globe"></i> <a rel="nofollow" target="_blank" href="{{ store.website }}">{{ store.website }}</a></li>
                            {% endif %}
                            {% if store.email %}
                                <li><i class="fa fa-envelope-o"></i> <a rel="nofollow" href="mailto:{{ store.email }}">{{ store.email }}</a></li>
                            {% endif %}
                        </ul>
                        {% if store.socialNetworks|length > 0 %}
                            <ul class="listing-details-sidebar social-profiles">
                                {% for socialNetwork in store.socialNetworks %}
                                    <li><a href="{{ socialNetwork.url }}" rel="nofollow" class="{{ socialNetwork.social }}-profile"><i class="fa fa-{{ socialNetwork.social }}"></i> {{ socialNetwork.social|replace({'-' : ' '})|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                </div>
                <!-- Contact / End-->

                {% if store.openingHours|length > 0 %}
                    {% set openingHoursTable = oh_table(store.openingHours) %}
                    <!-- Opening Hours -->
                    <div class="boxed-widget opening-hours margin-top-35">
                        <div class="listing-badge {{ openingHoursTable['is_open'] ? 'now-open' : 'now-closed' }}">{{ openingHoursTable['is_open'] ? 'app.store.open'|trans : 'app.store.close'|trans }}</div>
                        <h3><i class="sl sl-icon-clock"></i> {{ 'app.store.openingHours'|trans }}</h3>
                        <ul>
                            {% for day, hour in openingHoursTable['hour_this_weeks'] %}
                                <li>{{ day|trans }}<span>{{ hour }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Opening Hours / End -->
                {% endif %}
                
                <!-- Share / Like -->
                <div class="listing-share margin-top-40 margin-bottom-40 no-border">
                        <!-- Share Buttons -->
                        <ul class="share-buttons margin-top-40 margin-bottom-0">
                                <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
                                <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
                                <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
                                <!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
                        </ul>
                        <div class="clearfix"></div>
                </div>

        </div>
        <!-- Sidebar / End -->

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/infobox.min.js') }}"></script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}