<form method="GET" action="{{ path('app_search') }}">
    <div class="main-search-input {{ custom_css }}">
        <div class="main-search-input-item">
            <select name="categoria" data-placeholder="{{ 'treatments_search'|trans }}" class="chosen-select">
                <option value="">{{ 'all_treatments'|trans }}</span>
                {% for category in categories -%}
                    <option value="{{ category.slug }}" class="optCategoryParent">{{ category.title }}</option>
                    {% for children in category.children %}
                        <option value="{{ children.slug }}" class="optCategoryChild">{{ children.title }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="main-search-input-item location">
            <input id="place" type="text" name="dove" value="{{ app.request.cookies.has('locality') ? app.request.cookies.get('locality') : '' }}" placeholder="{{ 'place_search'|trans }}"/>
            <a class="geolocation" href="#"><i class="fa fa-dot-circle-o"></i></a>
        </div>

        <button class="button">Cerca</button>
    </div>
</form>
