<!-- Banner
================================================== -->
<div class="main-search-container" data-background-image="{{ asset('assets/images/main-search-background-01.jpg') }}">
    <div class="main-search-inner">

        <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <h2>Find Nearby Attractions</h2>
                            <h4>Expolore top-rated attractions, activities and more</h4>
                            
                            {{ render(controller('AppBundle:Search:_search', { 'custom_css': '' })) }}
                    </div>
            </div>
        </div>

    </div>
</div>