<!-- Header Container
================================================== -->
<header id="header-container" class="{{ css_class }}">
    <!-- Header -->
    <div id="header">
        <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" alt=""></a>
                        {% if dashboard %}
                            <a href="{{ path('app_homepage') }}" class="dashboard-logo"><img src="{{ asset('assets/images/logo2.png') }}" alt=""></a>
                        {% endif %}
                    </div>

                    {{ render(controller('AppBundle:Default:_menu')) }}

                </div>
                <!-- Left Side Content / End -->


                <!-- Right Side Content / End -->
                <div class="right-side">
                        <div class="header-widget">
                            {% if app.user %}
                                <!-- User Menu -->
                                <div class="user-menu">
                                        <div class="user-name"><span><img src="{{ asset('assets/images/dashboard-avatar.jpg') }}" alt=""></span>{{ app.user }}</div>
                                        <ul>
                                            <li><a href="{{ path('app_profile_store_list') }}"><i class="sl sl-icon-layers"></i> {{ 'store'|trans }}</a></li>
                                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="sl sl-icon-user"></i> {{ 'app.user.profile.show'|trans }}</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="sl sl-icon-power"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                        </ul>
                                </div>
                            {% else %}
                                <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> {{ 'app.sign_in'|trans }}</a>
                            {% endif %}
                            <a href="{{ path('app_profile_store_add') }}" class="button border with-icon">Add Listing <i class="sl sl-icon-plus"></i></a>
                        </div>
                </div>
                <!-- Right Side Content / End -->

                <!-- Sign In Popup -->
                
                <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

                        <div class="small-dialog-header">
                                <h3>Sign In</h3>
                        </div>

                        <!--Tabs -->
                        <div class="sign-in-form style-1">

                                <ul class="tabs-nav">
                                        <li class=""><a href="#tab1">Log In</a></li>
                                        <li><a href="#tab2">Register</a></li>
                                </ul>

                                <div class="tabs-container alt">
                                     
                                    <!-- Login -->
                                    {{ render(controller("FOSUserBundle:Security:loginCustom")) }}

                                    <!-- Register -->
                                    {{ render(controller("FOSUserBundle:Registration:registerCustom")) }}

                                </div>
                        </div>
                </div>
                <!-- Sign In Popup / End -->
        </div>
    </div>
    <!-- Header / End -->  
</header>
<div class="clearfix"></div>
<!-- Header Container / End -->