<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>{{ title }}</h2>
                {% if pagination %}
                    <span class="show_results">{{ 'app.titlebar.show_results'|trans({ '%offsetStart%': pagination.getPaginationData.firstItemNumber, '%offsetEnd%': pagination.getPaginationData.lastItemNumber, '%count%': pagination.getTotalItemCount }) }}</span>
                {% endif %}
                <!-- Breadcrumbs -->
                {{ render_breadcrumbs() }}

            </div>
        </div>
    </div>
</div>